/* == Fixed Shop == */
.fixed-shop{
	position: fixed;
	right: 0;
	top: 50%;
	height: 150px;
	width: 50px;
	background: #0093ed;
	color: #fff;
	font-size: 24px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-weight: 700;
	-webkit-box-shadow: 0 0 25px ;
	box-shadow: -5px 10px 15px rgba(154,133,178,.5);
	transition: all .4s ease;	
	z-index: 6;
	cursor: pointer;
}
.fixed-visible{

	padding: 5px;
	width: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.fixed-hidden{
	opacity: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 5px 20px 20px;
	width: 350px;
	background: #f3f3f3;
	transition: all .4s ease;
	color: #383838;
	font-size: 16px;
}

.fixed-shop span,
.fixed-shop i{
	height: 50%;
	text-align: center;
	line-height: 50px;
}

.fixed-link{
	display: block;
	width: 140px;
	height: 40px;
	background: none;
	text-align: center;
	line-height: 40px;
	border: 1px solid #383838;
	color: #383838;
}

.fixed-link:hover{
	color: #fff;
	background: #383838;
}

.fixed-shop:hover,
.fixed-shop.active{
	width: 400px;
}

.fixed-shop.active .fixed-hidden,
.fixed-shop:hover .fixed-hidden{
	opacity: 1;
}

/* == Product at Shopping Cart == */
.s-cart{
	padding-bottom: 0;
}

.cart_item{
    width: 100%;
    height: 255px;
    background: #f3f3f3;
    /*background: linear-gradient(-45deg,#f3f3f3,#ccc);*/
    padding: 10px;
    margin-bottom: 30px;
    overflow: hidden;
	/*border: 1px solid #ccc;*/
}
.cart__close{
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 5px;
    text-align: right;
    /*background: #ccc;*/
    border-bottom: 1px solid #ccc;
    padding: 10px 15px;
}

.cart__close .cross{
    cursor: pointer;
    color: #383838	;
    transition: all .3s ease;
}

.cart__close .cross:hover{
	color: #383838;
}
.cart__body{
    justify-content: space-between;
    -ms-align-items: center;
    align-items: center;
    padding: 0 20px 20px;
}

.cart__pic{
    height: 160px;
    width: 220px;
    /*background: #fff;*/
}

.cart__pic a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

/*.cart__pic a::after{
    position: absolute;
    z-index: 1;
    content: attr(data-title);
    font-size: 160px;
    color: #fff;
    font-family: "OpenSansBold", Arial, sans-serif;
    left: -30px;
    opacity: .15;
    bottom: -25px;
    text-transform: uppercase;
    width: 5000px;
}*/

.cart__pic a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.cart__head{
    font-size: 20px;
    max-width: 200px;
}

.cart__price{
    font-size: 16px;
    font-weight: 700;
    min-width: 100px;
    margin-right: 15px;
}

.cart__count{
    font-size: 16px;
    -ms-align-items: center;
    align-items: center;
}

.cart__count i{
    margin: 0 8px;
    cursor: pointer;
}

.cart__number{
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #fff;
}

.count_orders b,
.sum_orders b{
	min-width: 100px;
	min-height: 43px;
	line-height: 43px;
	text-align: right;
}

/* == Input Order ==*/
form input{
	
}

form input:required{
	box-shadow:none;xx
}

form input[type="text"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form textarea:focus{
	border-bottom: 3px solid #0093ed;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none!important;
}

form input[type="text"]:not(:placeholder-shown),
form input[type="tel"]:not(:placeholder-shown),
form input[type="email"]:not(:placeholder-shown){
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 3px solid firebrick;
}

form input[type="text"]:valid,
form input[type="tel"]:valid,
form input[type="email"]:valid{
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 3px solid green;
}

/* == Crumbs ==*/
.s-crumbs{
	padding: 0;
	flex-wrap: wrap;
}
.crumbs__item{
	margin-right: 20px;
	font-size: 12px;
	position: relative;
}

.crumbs__item::after{
	position: absolute;
	content: '/';
	right: -11px;
	top: 0;
}
.crumbs__item:last-child::after{
	display: none;
	
}

.crumbs__item a{
	color: #383838
}

.crumbs__item:hover a{
	color: #0093ed;
}

/* == Filter == */
.variants_value{
	font-size: 14px;
	cursor: pointer;
	position: relative;
	margin: 0 0 0 10px;
	padding: 0;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	text-align: left;
	transition: all .4s ease;
}

.variants_value::after{
	position: absolute;
	content: '';
	width: 12px;
	height: 12px;
	border: 1px solid #383838;
	background: none;
	top: 5px;
	left: -22px;
}

input[type="radio"] + .variants_value::after{
	border-radius: 50%;
}

.variants_value::before{
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	background: #383838;
	top: 7px;
	left: -20px;
	transition: all .4s ease;
	opacity: 0;
}

input[type="radio"] + .variants_value::before{
	border-radius: 50%;
}

input.price_range{
	visibility: hidden;
}

input:checked + .variants_value{
	font-weight: 700;
}

input[type="radio"]:checked + .variants_value::before {
  opacity: 1; }

  input[type="checkbox"]:checked + .variants_value::before {
  opacity: 1; }

.filter{
	width: 100%;
	background: #f3f3f3;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	/*display: none;*/
	max-width: 400px;
		margin: 0 auto;
}

.filter-toggle{
	padding: 15px;
	background: #383838;
	color: #fff;
	cursor: pointer;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	transition: all .4s ease;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	max-width: 400px;
	margin: 0 auto;
}

.filter-toggle i{
	margin-left: auto;
	font-size: 10px;
	width: 15px;
	height: 100%;
	transform: rotate(0deg);
	transition: all .4s ease;
	text-align: center;
	transform: rotate(90deg);
}

.filter-toggle i.expanded{
	transform: rotate(0);
}

.filter__head{
	font-size: 16px;
	font-family: "OpenSansSemibold", Arial, sans-serif;
	padding: 15px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
	transition: all .7s ease;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.filter__head i{
	margin-left: auto;
	font-size: 10px;
	width: 15px;
	height: 100%;
	transform: rotate(0deg);
	transition: all .4s ease;
	text-align: center;
	
}

.filter__head i.expanded{
	transform: rotate(90deg);
}

.filter__body{
	padding: 15px;
	background: #f3f3f3
}

.filter__head.ui-state-active{
	background: #383838;
	color: #fff
}

.price_range__inputs{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.price_range__inputs input{
	width: 80px;
	height: 30px;
	border: none;
	font-size: 16px;
	padding: 5px;
}

.accept-filters{
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	padding: 15px;
	background: #f3f3f3;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	max-width: 400px;
	margin: 0 auto;
}

.accept-filters__btn{
	max-width: 180px;
	width: 100%;
  height: 40px;
  border: none;
  background: #383838;
  color: #fff;
  font-family: "OpenSansSemibold", Arial, sans-serif;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .form-order__btn[disabled] {
    background: #aaa;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.accept-filters__btn:hover{
	background: #0093ed;
}


.s-catalog{
	padding-top: 20px;
}

.catalog{
	width: 100%;
	padding: 0 0 0 30px
}
.catalog__head{
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	
}

.catalog__title{
	font-size: 22px;
	font-family: "OpenSansSemibold", Arial, sans-serif;
}

.catalog__filter{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f3f3f3;
	padding: 5px 10px;
}

.catalog__txt{
	font-size: 14px;
	display: block;
	margin-right: 10px;
}

select.catalog__select{
	border: none;
	font-size: 14px;
	text-align: right;
	/*background: #cce9fb;*/
  	-moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 5px;
}

select::-ms-expand {  /* для IE */ 
    display: none;
}

.page_num{
	transition: all .4s ease;
}

.page_num:hover{
	color: #fff;
	background: #ccc;
}

/*== Products ==*/
.nothing{
	width: 100%;
	font-size: 30px;
	text-align: center;
	height: 500px;
	color: #ccc;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.nothing img{
	width: 100px;
	height: 100px;
}
.no-data{
	height: 150px;
	font-size: 36px;
	color: #0093ed;
	font-weight: 700;
	padding-left: 25px;
	position: relative;
}

.no-data::after{
	position: absolute;
	content: 'Ничего не найдено:(';
	right: 36%;
	bottom: 33px;
	font-size: 14px;
	color: #9a85b2;
	font-weight: 400;
}



.products{
	width: 100%;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.product{
	margin: 15px 20px 15px 0;
	background: #fff;
	border: 1px solid #eee;
	padding: 30px 20px;
	width: 30%;
	min-width: 240px;
	max-width: 310px;
	transition: all .25s ease;
	box-shadow: 5px 5px 5px rgba(154,133,178,.15);
}

.product:hover{
	transform: scale(1.02);
	box-shadow: 15px 15px 15px rgba(154,133,178,.25);
}

.product__title{
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
	min-height: 42px;
}

.product__title a{
	color: #383838;
}

.product__pic{
	width: 100%;
	height: 150px;
}

.product__pic a{
	display: block;
	width: 100%;
	height: 100%;
}

.product__pic img{
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.product__total{
	display: block;
	font-size: 12px;
	width: 100%;
	margin: 15px 0;
}

.product__total span{
	font-size: 14px;
	font-weight: 700;
}

.product__price{
	justify-content: space-around;
	align-items: center;
}
.product__price span{
	display: block;
	font-size: 24px;
  	font-family: "OpenSansSemibold", Arial, sans-serif;
  	min-height: 32px;
}

.product__price_new{
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
}

.product__price_new::after{
	position: absolute;
	content: 'NEW';
	width: 60px;
	height: 18px;
	background: #de1023;
	top: -15px;
	right: -10px;
	color: #fff;
	font-size: 12px;
	padding-right: 5px;
	text-align: right;
	line-height: 18px;
	transform: rotate(-35deg);
	clip-path: polygon(0 50%, 18% 0, 100% 0, 100% 100%, 18% 100%);
	-webkit-clip-path: polygon(0 50%, 18% 0, 100% 0, 100% 100%, 18% 100%);
}

.product__price_new::before{
	position: absolute;
	content: '';
	width: 8px;
	height: 8px;
	top: 0px;
	right: 28px;
	border-radius: 50%;
	background: #fff;
	z-index: 1;
	border: 1px solid #383838;
}

.product__price_old.dashed{
	font-size: 16px;
	color: #777;
	position: relative;
	line-height: 32px;
}

.product__price_old.dashed::after{
	position: absolute;
	content: '';
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	background: firebrick;
	transform: rotate(-25deg);
}

.product-wrap{
	justify-content: center;
}

.product__btn{
	border: none;
	background: -webkit-linear-gradient(left, #9a85b2, #0093ed);
  background: -o-linear-gradient(left, #9a85b2, #0093ed);
  background: linear-gradient(to right, #9a85b2, #0093ed);
  color: #fff;
  margin: 25px 0 0;
  width: 130px;
  height: 40px;
  font-size: 16px;
  position: relative;
  transition: all .4s ease;
}

.product__btn:hover{
  padding-right: 35px;
}

.product__btn i{
	opacity: 0;
	transition: all .4s ease;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.product__btn:hover i{
	opacity: 1;
	transform: translate(200%, -50%);
}

.product__btn span{
	text-align: center;
	opacity: 0;
	transition: all .4s ease;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: "OpenSansBold", Arial, sans-serif;
}

.product__btn span.added{
	color: #fff;
	text-shadow: 0 0 3px rgba(0,0,0,1);
	/*transition-delay: .6s;*/
	animation-duration: 1.5s;
	-moz-animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;
	animation-name: added;
	-moz-animation-name: added;
	-webkit-animation-name: added;
}

.s-tech{
	padding-top: 0;
}

@keyframes added{
	from {
		opacity: 0;
		top: 50%;
	}
	20%{
		opacity: 1;
		top: -50%;
	}
	80%{
		opacity: 1;
		top: -50%;
	}
	to{
		opacity: 0;
		top: -50%;
	}
}

@-webkit-keyframes added{
	from {
		opacity: 0;
		top: 50%;
		}
		20%{
			opacity: 1;
			top: -50%;
		}
		80%{
			opacity: 1;
			top: -50%;
		}
		to{
			opacity: 0;
			top: -50%;
		}
	}
}

@-moz-keyframes added{
	from {
		opacity: 0;
		top: 50%;
		}
		20%{
			opacity: 1;
			top: -50%;
		}
		80%{
			opacity: 1;
			top: -50%;
		}
		to{
			opacity: 0;
			top: -50%;
		}
	}
}









