.s-product2{
	position: relative;
}

.s-product2::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 60%;
	background: #f7f7f7;
	transform: translateY(-50%);
	opacity: .7;
}

.product-2{
	position: relative;
	z-index: 1;
	width: 100%;
	max-width: 850px;
	height: 550px;
	margin: 0 auto;
	-ms-align-items: center;
	align-items: center;
}

.product-2-pic{
	width: 45%;
	height: 78%;
	position: relative;
   /*background: linear-gradient(45deg, #6e37fb, #6e37fb, #0093ed);*/
   background: #f3f3f3;
   border: 1px solid #f3f3f3;
}

.slider-main-image{
	height: 100%;
	width: 70%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.main_image{
	width: 100%;
	height: 100%;
	padding: 25px;
}

.main_image a{
	display: block;
	width: 100%;
	height: 100%;
	margin-left: auto;
	position: relative;
}

.main_image a::after{
	position: absolute;
	content: attr(data-title);
	bottom: 0;
	left: -10px;
	font-size: 60px;
	color: #fff;
	width: 1000px;
	opacity: .1;

}

.main_image a img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: right center;
}

.slider-small-images{
	width: 30%;
	height: 100%;
	padding: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	margin:0;
}

.small_img{
	width: 100%;
	height: 100px;
	text-align: center;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}


.small_img img{
	width: 80%;
	height: 80%;
	transition: all .4s ease;
	opacity: .75;	
	object-fit: cover;
	object-position: center center;
	
}

.small_img img:hover{
	opacity: 1;
}

.product-2-body{
	width: 55%;
	height: 100%;
	-webkit-box-shadow: -15px 0 15px rgba(0,0,0,.1);
	box-shadow: -15px 0 15px rgba(0,0,0,.1);
	padding: 25px 35px;
	font-size: 16px;
	color: #383838;
	position: relative;
	z-index: 2;
	background: #fff;
}

.product-2-title{
	font-size: 24px;
	margin-bottom: 25px;
	text-transform: uppercase;
	position: relative;
	padding-bottom: 10px;
	justify-content: space-between;
}

.product-2-title::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	background: #0093ed;
	bottom: 0;
	left: 0;
}

.product-2-info li{
	padding-bottom: 5px;
}



.buttons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.button_fast_order,
.product-2-btn{
	background: #fff;
	color: #0093ed;
	border: 1px solid #0093ed;
	font-weight: 700;
	width: 180px;
	height: 40px;
}

.specification_row{
	margin-top: 0;
	padding-bottom: 3px;
	font-size: 14px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.specification_row .key{
	letter-spacing: 0.01em;
	font-weight: 400;
	max-width: 65%;
	padding-right: 15px;
}

.specification_row .value{
	font-weight: 700;
	margin-left: 5px;
	color: #383838;
}

.product_color{
	margin-top: 0;
	margin-bottom: 15px;
}

.product_colors_blocks{
	margin-left: 0;
}

.product-2-btn{
	margin: 0;
}

.color_block{
	margin-left: 0;
	margin-right: 8px;
	width: 25px;
	height: 25px;
}

.title-wrap{
	justify-content: space-between;
}

.product_price{
	font-size: 36px;
	font-weight: 700;
	color: #6e37fb;
	margin-top: 25px;
	display: block;
	text-align: right;
	
}

.product__btn.product-2-btn{
	/*background: #f39c12;*/
	width: 180px;
	height: 40px;
	/*font-weight: 700;*/
} 


