/* OpenSans Fonts */
@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansRegular/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSans.woff2") format("woff2"), url("../fonts/OpenSansRegular/OpenSans.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSans.ttf") format("truetype"), url("../fonts/OpenSansRegular/OpenSans.svg#OpenSansRegular") format("svg"); }

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansSemibold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansSemibold/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSansSemibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSansSemibold/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSansSemibold/OpenSans-Semibold.svg#OpenSansSemibold") format("svg"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSansBold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansBold/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSansBold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSansBold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSansBold/OpenSans-Bold.svg#OpenSansBold") format("svg"); }

/* Colors */
/* Fonts */
/* Transition */
/* ==== SPECIFICATION ==== */
body {
  font-size: 18px;
  font-family: "OpenSansRegular", Arial, sans-serif;
  color: #383838;
  letter-spacing: 0.02em;
  line-height: 1.2em;}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0; }

h2.s-title {
  font-size: 30px;
  font-family: "OpenSansBold", Arial, sans-serif;
  margin-bottom: 50px; }

p {
  margin: 0; }

a,
a:active,
a:hover {
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

button, input {
  outline: none !important; }

textarea {
  resize: none; }

section {
  padding: 50px 0; }

img.resp {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.know-more {
  font-size: 13px;
  color: #383838;
  position: relative;
  display: inline-block;
  padding-bottom: 2px; }
  .know-more::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #0093ed;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .know-more i {
    margin-left: 10px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  .know-more:hover {
    color: #0093ed; }
    .know-more:hover::after {
      width: 100%; }
    .know-more:hover i {
      margin-left: 17px; }

button{
  cursor: pointer;
}   

/* == Pagiantion == */
.pages_list{
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-top: 25px;
}

.page_num{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 0 5px;
    text-align: center;
    line-height: 30px;
    color: #383838;
    cursor: pointer;
}

.page_num.current_page{
    color: #fff;
    background: #0093ed;
    border: 1px solid #0093ed;
    font-family: "OpenSansBold", Arial, sans-serif;
}

/* == Autocomplete == */


.ui-autocomplete{
  font-size: 14px;
  margin-left: 10px;
  padding-top: 5px;
  width: 230px;
  cursor: pointer;
  position: relative;
  z-index: 30;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
  box-shadow: 0 10px 10px rgba(0,0,0,.15);
}

.ui-menu-item .ui-menu-item-wrapper{
    width: 100%;
    cursor: pointer;
    margin-left: 10px;
    padding-bottom: 2px;
    background: #fff;
    text-decoration: none;
    transition: all .25s ease;
    border-bottom: 1px solid #ccc;
}

.ui-menu-item:last-child .ui-menu-item-wrapper{
  border: none;
}

.ui-menu-item .ui-menu-item-wrapper:hover{
  background: #0093ed;
  color: #fff;
  padding-left: 15px;
}

/* Трфтлы Message */
#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.91);
    overflow: hidden;
    display: none;
    z-index: 8000;
}
#loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
}

#overlay {
display: none;
position: absolute;
width: 100%;
height: 100%;
background: red;
/*background: #000c;*/
left: 0px;
top: 0px;
cursor: pointer;
z-index: 8000;
}
#thx {
background: #fff;
position: fixed;
left: 50%;
top: 50%;
padding: 30px;
z-index: 11000;
transform: translate(-50%,-50%)
}

.respond-overlay{
  display: none;
  z-index: 5000;
  position: fixed;
  width: 400px;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /*background: rgba(0,0,0,.3);*/
}

.respond-to-call{
  z-index: 1002;
  display: flex;
  align-items: center;
  width: 400px;
  text-align: center;
  height: 100px;
  padding: 15px;
  position: fixed;
  font-size: 14px;
  color: #000;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arcticmodal-overlay{
  cursor: pointer;
}

/* == Disabled Button == */
button[disabled] {
  cursor: not-allowed; }

/* == Qucik Order Modal == */
.quick-order {
  height: auto;
  width: 700px;
  padding: 30px;
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); }

.box-modal_close {
  text-align: right;
  cursor: pointer; }

.q-order {
  width: 100%; }
  .q-order__body {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .q-order__title {
    margin-bottom: 25px;
    font-family: "OpenSansBold", Arial, sans-serif;
    font-size: 22px;
    margin-right: 30px; }
  .q-order__pic {
    width: 45%;
    height: 100%;
    border: 1px solid #f3f3f3; }
    .q-order__pic img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
         object-fit: contain; }
  .q-order__info {
    width: 45%;
    height: 100%; }
  .q-order__head {
    font-size: 26px;
    margin-bottom: 10px; }
  .q-order__price {
    font-family: "OpenSansBold", Arial, sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 20px; }

.form-order__input {
  width: 100%;
  height: 40px;
  margin-bottom: 15px;
  border: 1px solid #f3f3f3;
  font-size: 14px;
  color: #383838;
  padding-left: 10px; }

.form-order__message {
  width: 100%;
  height: 100px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #f3f3f3;
  font-size: 14px;
  color: #383838; }

.form-order__btn {
  width: 140px;
  height: 40px;
  margin-top: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#9a85b2), to(#0093ed));
  background: -o-linear-gradient(left, #9a85b2, #0093ed);
  background: linear-gradient(to right, #9a85b2, #0093ed);
  border: none;
  color: #fff;
  font-family: "OpenSansBold", Arial, sans-serif;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .form-order__btn[disabled] {
    background: #aaa;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.form-order__personal input[type="checkbox"] {
  margin-right: 10px;
  visibility: hidden; }
  .form-order__personal input[type="checkbox"]:checked + label::before {
    width: 8px;
    height: 8px; }

.form-order__link {
  font-size: 11px;
  color: #383838;
  position: relative;
  line-height: 1.3em; }
  .form-order__link::after {
    position: absolute;
    content: '';
    top: 3px;
    left: -23px;
    width: 12px;
    height: 12px;
    border: 1px solid #383838;
    background: none; }
  .form-order__link::before {
    position: absolute;
    content: '';
    top: 5px;
    left: -21px;
    width: 0;
    height: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    background: #383838; }
  .form-order__link a {
    color: #383838;
    text-decoration: underline; }

input[type="checkbox"]:checked + .form-order__link::before {
  opacity: 1; }

/* == Slick-slider Customization == */
.slick-arrow {
  border: none;
  background: none;
  padding: 0 15px; }

ul.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: .1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px; }
  ul.slick-dots li {
    width: 6px;
    margin: 0 15px;
    height: 6px;
    border-radius: 50%;
    background: #383838;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    ul.slick-dots li:hover {
      background: #9a85b2; }
    ul.slick-dots li.slick-active {
      background: #0093ed; }
    ul.slick-dots li button {
      width: 100%;
      height: 100%;
      border: none;
      background: none; }

/* ==== MAIN Page ==== */
/* == Header == */

.main-nav {
  padding-bottom: 50px; 
  padding-top: 34px;}

.mnu {
  font-size: 16px;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .mnu__item {
    margin: 0 25px;
    padding-bottom: 9px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .mnu__item ::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      background: #0093ed; }
    .mnu__item:first-child {
      margin-left: 0; }
    .mnu__item a,
    .mnu__item span {
      color: #383838;
      font-family: "OpenSansSemibold", Arial, sans-serif; }
    .mnu__item:hover ::after {
      height: 3px; }
    .mnu__item:hover a {
      color: #0093ed; }
 .mnu__item span{
   cursor: inherit;
 }

.work {
  font-size: 14px;
  text-align: center;
  margin-top: 8px; }
  .work span {
    display: block; }

.phone {
  font-size: 14px;
  margin-top: 8px;
  text-align: right; }
  .phone a {
    color: #383838;
    display: block; }
    .phone a.call-me {
      font-family: "OpenSansBold", Arial, sans-serif;
      color: #0093ed;
      display: inline-block;
      position: relative; }
      .phone a.call-me::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        background: #0093ed;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
      .phone a.call-me:hover::after {
        height: 3px; }

.footer .footer-call-me.call-me:hover {
  color: #0093ed; }

.dropdown-mnu {
  width: 100%;
  position: relative;
  margin-top: 50px; }
  .dropdown-mnu .drop-head {
    width: 100%;
    height: 42px;
    padding: 14px 0 14px 14px;
    background: #cce9fb;
    cursor: pointer; }
    .dropdown-mnu .drop-head .drop-btn {
      background: none;
      border: none;
      width: 18px; }
      .dropdown-mnu .drop-head .drop-btn.active span:first-child {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 7px; }
      .dropdown-mnu .drop-head .drop-btn.active span:nth-child(2) {
        opacity: 0; }
      .dropdown-mnu .drop-head .drop-btn.active span:last-child {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        bottom: 7px; }
      .dropdown-mnu .drop-head .drop-btn span {
        position: relative;
        display: block;
        width: 18px;
        height: 3px;
        margin-bottom: 4px;
        background: #383838;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }
        .dropdown-mnu .drop-head .drop-btn span:first-child {
          top: 0; }
        .dropdown-mnu .drop-head .drop-btn span:last-child {
          margin-bottom: 0;
          bottom: 0; }
    .dropdown-mnu .drop-head .drop-title {
      font-size: 16px;
      font-family: "OpenSansBold", Arial, sans-serif;
      margin-left: 50px;
      margin-top: -1px; }
  .dropdown-mnu .drop {
    position: absolute;
    z-index: 3;
    display: none;
    width: 100%;
    height: auto;
    padding: 33px 44px;
    background: #f3f3f3;
    margin-bottom: 15px;
    -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
    .dropdown-mnu .drop__item {
      border-bottom: 1px solid #dddddd;
      font-size: 16px;
      padding: 12px 0 12px 25px;
      position: relative;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
      .dropdown-mnu .drop__item:hover {
        padding-left: 33px; }
        .dropdown-mnu .drop__item:hover::after {
          background: #0093ed; }
      .dropdown-mnu .drop__item a {
        color: #383838;
        display: block;
        width: 100%; }
      .dropdown-mnu .drop__item::after {
        position: absolute;
        content: '';
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #383838;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease; }

.add-mnu {
  margin-left: 83px;
  margin-top: 50px;
  height: 42px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .add-mnu__item {
    margin: 0 17px;
    font-size: 14px;
    padding-bottom: 4px;
    position: relative; }
    .add-mnu__item ::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #0093ed;
      -webkit-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease; }
    .add-mnu__item:hover ::after {
      height: 3px; }
    .add-mnu__item:hover a {
      color: #0093ed; }
    .add-mnu__item a {
      color: #383838; }
      .add-mnu__item span{
        cursor: inherit;
      }

/* == Search == */
.search {
  width: 100%;
  margin-top: 50px;
  height: 42px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .search__data {
    height: 50px;
    width: 100%;
    position: relative;
    z-index: 5; }
  .search__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 10; }
    .search__icon:hover {
      cursor: pointer; }
    .search__icon::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      left: 18px;
      width: 8px;
      height: 2px;
      background: #383838;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease; }
    .search__icon::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #383838;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .search__input {
    position: absolute;
    top: 0;
    right: 15px;
    width: 20px;
    height: 30px;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 100px 0 0 100px;
    color: #383838;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 12px;
    z-index: 7;
    padding: 0 12px;
    letter-spacing: 0.05em; }
    .search__input:hover {
      cursor: pointer; }
    .search__input.active {
      width: 100%;
      opacity: 1;
      cursor: inherit;
      border: 1px solid #0093ed; }
      .search__input.active ~ .search__icon {
        right: 0;
        background: #0093ed;
        z-index: 356; }
        .search__input.active ~ .search__icon::before {
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(45deg);
              -ms-transform: translate(-50%, -50%) rotate(45deg);
                  transform: translate(-50%, -50%) rotate(45deg);
          width: 15px;
          background: #fff; }
        .search__input.active ~ .search__icon::after {
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              -ms-transform: translate(-50%, -50%) rotate(-45deg);
                  transform: translate(-50%, -50%) rotate(-45deg);
          width: 15px;
          height: 2px;
          border: none;
          background: #383838;
          border-radius: 0%;
          background: #fff; }
    .search__input::-webkit-input-placeholder {
      color: #383838;
      opacity: 0.5; }
    .search__input::-moz-placeholder {
      color: #383838;
      opacity: 0.5; }
    .search__input:-ms-input-placeholder {
      color: #383838;
      opacity: 0.5; }
    .search__input::-ms-input-placeholder {
      color: #383838;
      opacity: 0.5; }
    .search__input::placeholder {
      color: #383838;
      opacity: 0.5; }

/* == Shopping-cart Icon ==*/
.shopping-cart {
  margin-top: 55px;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  /*margin-left: auto;*/
  width: 100%;
  position: relative; }
  .shopping-cart i {
    margin-right: 18px;
    font-size: 20px;
    color: #383838; }
.shopping-wrap{
  position: relative;
}    
    .shopping-cart i:hover {
      color: #383838; }
  .shopping-cart .price {
    color: #0093ed;
    font-family: "OpenSansBold", Arial, sans-serif;
    border-bottom: 2px solid #0093ed; }
  .shopping-cart .quantity {
    position: absolute;
    top: -6px;
    right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    line-height: 15px;
    background: #0093ed;
    text-align: center;
    color: #fff;
    font-family: "OpenSansBold", Arial, sans-serif; }

/* == Offer Slider == */
.offer-slider {
  height: 400px;
  width: 860px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .offer-slider .slide {
    width: 860px;
    margin: 0 auto; }
    .offer-slider .slide__pic {
      width: 400px;
      min-width: 400px;
      margin-right: 110px;
      height: 400px;
      position: relative; }
      .offer-slider .slide__pic img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
           object-fit: contain;
        position: relative;
        z-index: 3; }
      .offer-slider .slide__pic .wrap {
        border: 8px solid transparent;
        -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#9a85b2), to(#0093ed));
        -webkit-border-image: linear-gradient(to bottom, #9a85b2, #0093ed);
             -o-border-image: -o-linear-gradient(top, #9a85b2, #0093ed);
                border-image: -webkit-gradient(linear, left top, left bottom, from(#9a85b2), to(#0093ed));
                border-image: linear-gradient(to bottom, #9a85b2, #0093ed);
        border-image-slice: 1;
        position: absolute;
        top: 7%;
        left: 7%;
        width: 86%;
        height: 86%; }
        .offer-slider .slide__pic .wrap::after {
          position: absolute;
          content: '';
          z-index: 6;
          width: 100%;
          height: 8px;
          background: #0093ed;
          bottom: -8px;
          left: 0; }
    .offer-slider .slide__descr {
      padding: 80px 20px 80px 0;
      width: 270px; }
    .offer-slider .slide__head {
      font-size: 45px;
      font-family: "OpenSansBold", Arial, sans-serif;
      text-transform: uppercase;
      line-height: 1.3em;
      letter-spacing: 0.1em;
      margin-bottom: 27px; }
      .offer-slider .slide__head span {
        color: #fff;
        text-shadow: 0 0 2px #000;
        letter-spacing: 0.01em; }
    .offer-slider .slide__txt {
      font-size: 12px;
      margin-bottom: 20px; }

/* == Header Media == */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199.98px) {
  .dropdown-mnu .drop-head .drop-title {
    margin-left: 20px; }
  .mnu__item {
    margin: 0 18px; }
  .phone {
    margin-left: -10px; }
  .add-mnu {
    margin-left: 10px; }
  .offer-slider {
    margin: 0 auto; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991.98px) {
  .main-nav {
    padding-bottom: 10px; }
  .mnu {
    margin-left: 20px; }
    .mnu__item {
      margin: 0 18px; }
  .add-mnu {
    margin-left: 0; }
    .add-mnu__item {
      margin: 0 12px; }
  .offer-slider {
    width: 700px; }
    .offer-slider .slide {
      width: 700px; }
      .offer-slider .slide__pic {
        width: 35%;
        height: 300px;
        min-width: 1px;
        margin-right: 50px;
        margin-top: 70px; }
      .offer-slider .slide .slick-arrow {
        padding: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767.98px) {
  .offer-slider {
    width: 500px; }
    .offer-slider .slide {
      width: 500px; }
      .offer-slider .slide__pic {
        margin-right: 10px; }
      .offer-slider .slide__head {
        font-size: 32px; }
      .offer-slider .slide__txt {
        width: 100%;
        max-width: 230px; }
  .mnu {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .mnu__item {
      margin: 0 15px; }
  .add-mnu,
  .phone {
    margin-top: 30px; }
  .search,
  .shopping-cart {
    margin-top: 40px; }
  .dropdown-mnu {
    margin-top: 20px; }
  .search__input.active {
    width: -webkit-calc(100% - 15px);
    width: calc(100% - 15px); }
  .quick-order {
    width: 100%; }
  .q-order {
    width: 100%; }
    .q-order__price {
      text-align: center;
      width: 100%;
      display: block;
      margin-top: 20px; }
    .q-order__head {
      text-align: center; }
    .q-order__info {
      width: 100%; }
      .q-order__info input[type="text"],
      .q-order__info textarea {
        width: 50%; }
    .q-order__body {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .q-order__pic {
      height: 250px;
      margin: 0 auto 15px; }
  .form-order {
    width: 100%; }
    .form-order__link {
      width: 100%; }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575.98px) {
  .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px; }
  .phone__number {
    margin-left: -6px; }
  .mnu {
    font-size: 14px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around;
    margin: 0; }
    .mnu__item {
      margin: 0; }
  .add-mnu {
    margin: 20px 0 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-around;
        -ms-flex-pack: justify;
            justify-content: space-around; }
    .add-mnu__item {
      margin: 0; }
  .offer-slider {
    margin-top: 65px;
    width: 290px;
    margin-bottom: 50px; }
    .offer-slider .slide {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 300px; }
      .offer-slider .slide__pic {
        width: 200px;
        height: 200px; }
      .offer-slider .slide__descr {
        padding-top: 10px;
        padding-right: 0; }
      .offer-slider .slide__head {
        margin: 0 0 15px 0; }
  .q-order__head {
    font-size: 20px; }
  .q-order__info input[type="text"],
  .q-order__info textarea {
    width: 100%; }
  .q-order__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .q-order__pic {
    width: 100%;
    margin: 0 auto 15px; }
  .form-order {
    width: 100%; }
    .form-order__link {
      width: 100%; }
  .search__input{
    max-width: 320px;
  }    

       }
