body{
	margin: 0;
	font-size: 14pt;
	font-family: Open Sans, Helvetica, sans-serif;
}
li{
	cursor: pointer;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
/*header*/
.header_container{
	display: flex;
	height: 128px;
	align-items: center;
}
.logo{
	width: 300px;
	float: left;
}
.header_menu{
    width: 500px;
    float: left;
    height: 60px;
}
.header_menu li:nth-child(1){
	display: inline-block;
	margin-left: 0;
}
.header_menu li{
	display: inline-block;
	margin-left: 50px;
}
.header_menu li a{
	text-decoration: none;
	color: #000;
}
.header_menu li a:hover{
	color: #0093ed;
	border-bottom: 3px solid #0093ed;
}
.working_period{
	width: 200px;
	float: left;
}
.header_contacts{
	width: 170px;
	float: left;

}
.header_phone{

}
.call_order{
	color: #0093ed;
}
/*main*/
.main_container{
	display: flex;
	height: 500px;
}
.sidebar{
	width: 300px;
}
.sidebar_menu_container{
	display: flex;
	align-items: center;
	height: 42px;
	background-color: #cce9fb;
	
}
.header_catalog_menu{
	width: 300px;
	text-align: center;
	justify-content: center;
}
.catalog{
	height: 200px;
	background-color: #f3f3f3;
}
.catalog_gadgets ul{
	margin: 0;
}
.catalog_gadgets li{
	padding-top: 34px;
	cursor: pointer;
}
.catalog_firms ul{
	margin-top: 14px;
}
.catalog_firms li{
	padding-top: 34px;
}

.main_content{
	width: 870px;
}
.main_top_head{
	height: 42px;
	display: flex;
	align-items: center;
}
.main_top_menu{
	width: 400px;
	margin-left: 100px;
}
.main_top_menu ul{
	padding: 0;
	margin: 0;
}
.main_top_menu li:nth-child(1){
	display: inline-block;
	margin-left: 0;
}
.main_top_menu li{
	display: inline-block;
	margin-left: 36px;
}
.loupe{
	width: 30px;
	margin-left: 170px;
}
.shopping_cart_block{
	width: 170px;
}
.shopping_cart_text{
	float: right;
}

.slider_container{
	display: flex;
}
.slider_image_block{
	width: 600px;
	height: 455px;
	margin-left: 100px;
	margin-top: 30px;
	position: relative;
}
.slider_image{
	position:absolute;
}
.slider_image_frame{
	position:absolute;
  	width:100%;
	margin-top: 30px;
}
.slider_info{
	width: 270px;
}
.slider_title{
	font-size: 34pt;
	font-weight: bold;
	margin-top: 106px;
	text-transform: uppercase;
}
.slider_description{
	margin-top: 30px;
	font-size: 12pt;
}
.slider_more_info{
	margin-top: 36px;
	font-size: 14pt;
	font-weight: bolder;
}
.slider_more_info a{
	color: #000;
	text-decoration: none;
}

.new_section_container{
	margin-top: 100px;
}
.new_section_title{
	height: 86px;
	font-size: 30pt;
	font-weight: bold;
}
.stock_items{
	display: flex;
}
.stock_block{
	width: 570px;
	height: 225px;
	background-color: #f3f3f3;
}
.stock_block:last-child{
	margin-left: 30px;
}
.stock_image{
	float: left;
	width: 269px;
}
.stock_text_container{
	width: 300px;
	height: 225px;
	display: flex;
	align-items: center;
}
.stock_text{
	font-size: 16pt;
	padding-left: 40px;
}
.stock_prices{
	margin-top: 35px;
}
.stock_new_price{
	font-size: 18pt;
	font-weight: bolder;
	float: left;
}
.stock_old_price{
	text-decoration: line-through;
	font-size: 14pt;
	float: left;
	margin-left: 10px;
    margin-top: 6px;
}


.slider_main_block{
	height: 420px;
	display: flex;
	align-items: center;
}
.bg_slider{
	width: 100%;
	height: 215px;
	background-color: #f0f0f0;
}
.items_bestsellers_container{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.item_bestseller{
	width: 270px;
	height: 414px;
	background-color: #fff;
	margin-top: -100px;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}
.bestseller_description{
	margin-top: 26px;
	font-size: 18pt;
}
.bestseller_price{
	margin-top: 22px;
	font-size: 20pt;
	font-weight: bold;
}

.advertising{
	margin-top: 100px;
	height: 370px;
	display: flex;
    justify-content: space-between;
}
.left_advertising_block{
	width: 670px;
	height: 370px;
	display: flex;
	justify-content: center;
	background: linear-gradient(to bottom left, #f0c1b7, #604c65);
}
.left_advertising{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.left_advertising_description{
	color: #fff;
	font-size: 20pt;
	font-weight: bold;
}
.button_see_all{
	margin-top: 30px;
}
.button_see_all button{
	outline: none;
	color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 12px;
    font-size: 16pt;
    cursor: pointer;
}
.button_see_all button:hover{
    background-color: #fff;
    color: #000;
}
.left_advertising_image{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.right_advertising_block{
	width: 470px;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}
.right_advertising{
	height: 170px;
	display: flex;
    justify-content: space-around;
    align-items: center;
	background: linear-gradient(to right, #f4f4f4, #d9d9ed);
}
.image_advertising{
	width: 210px;
	display: flex;
	justify-content: center;
}
.description_advertising{
	font-size: 20pt;
	font-weight: bold;
}

.about_company{
	width: 100%;
	height: 520px;
	display: flex;
}
.about_company_left_container{
	background-color: #f0f0f0;
	height: 460px;
	width: 66%;
}
.about_company_right_container{
	width: 50%;
	height: 460px;
	margin-left: -35px;
    margin-top: 60px;
    background-image: url('../images/about_company.jpg');
    background-repeat: no-repeat;
}
.about_company_image{
	/*background-image: url('images/about_company.jpg');*/
}
.about_company_description{
	width: 733px;
	float: right;
}
.about_company_text{
	width: 600px;
	font-size: 18pt;
}

.advantages{
	margin-top: 100px;
	height: 140px;
	display: flex;
	justify-content: space-between;
}
.advantage_item{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.advantage_description{
	text-align: center;
}
/*footer*/
footer{
	height: 170px;
	margin-top: 100px;
	background-color: #000;
	padding: 0;
}
.footer_container{
	height: 170px;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_menu{
	width: 500px;
}
.footer_menu ul{
	display: flex;
    justify-content: space-between;
}
.footer_menu ul li a{
	color: #aeaeae;
    text-decoration: none;
}
.footer_phone{
	color: #aeaeae;
	font-size: 14pt;
}
.footer_call_order{
	color: #fff;
	font-size: 14pt;
	font-weight: bold;
}